.blue-color{
    color: crimson;
}

.text-center {
    text-align: center!important;
}
.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}
*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-family: var(--bs-body-font-family);
    font-size: 1rem;
    font-size: var(--bs-body-font-size);
    font-weight: 400;
    font-weight: var(--bs-body-font-weight);
    line-height: 1.5;
    line-height: var(--bs-body-line-height);
    color: #212529;
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: #fff;
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

button:not(:disabled) {
    cursor: pointer;
}

.default-btn {
    background-color: #482576;
    width: 150px;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 700;
    border: 2px solid #482576;
    background-color: #fff;
    color: #482576;
    font-size: 16px;
    cursor: pointer;
}