body {
    font-family: Arial, sans-serif;
    background: lightblue url("/src/assets/haspatal.jpg") fixed no-repeat center ;
    background-size: cover;
    background-blend-mode: luminosity;
    backdrop-filter: blur(7px);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
   
}





.loginPage {
    background-color: #f9fbfd;
    padding: 80px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #66d8fbfb;
}
.medLogo{
    width: 10em;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.formGroup {
    margin-bottom: 20px;
    
}
.loginButton {
         
    display: flex;
    justify-content: center;
}
.centerItems{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    color: #165916;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
            
            background-color: #5FE9E9;
            color: #0e0101;
            border-bottom: solid ;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px #66d8fbfb;
            cursor: pointer;
        }

button[type="submit"]:hover {
     background-color: #3a7abf;
    }